*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
body {
    background-color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #5861D4;
    box-shadow: 2px 2px 1px lightgray;
    height: 3em;
    align-items: center;
}
.navbar > a {
    background: #0ff845bb;
    padding: 0.3em 1.6em 0 1.6em;
    height: 1.7em;
    color: #fff;
    margin-right: 0.7em;
    border-radius: 0.2em;
    cursor: pointer;

}
.navbar > a:hover,a:focus {
    background: #0ff84597;
}
.navbar > img {
    height: 2.5em;
    padding: 1em;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em;
    height: 25em;
    flex-direction: column;
    align-items: center;
}
.container-figure {
    height: 30em;
    box-shadow: 10px 3px 5px rgb(0 0 0 / 10%), 0 10px 16px rgb(0 0 0 / 10%);;
}
.container-figure > img {
    height: 25em;

}
.form {
    display: flex;
    flex-direction: column;
    border: solid 2px lightgray;
    width: 20em;
    padding: 1em;
    height: 25em;
    align-items: center;
    border-radius: 0.4em;
    background-color: #fffffff3;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);;
}

.form > input {
    border: 1px solid #dddfe2;
    width: 100%;
    padding: 0.8em;
    margin: 0.6em;
    color: #1d2129;

}

.form > button {
    margin: 0.6em;
    color:#fff;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 99%;
    cursor: pointer;
}
.form button:hover,button:focus {
    background-color: #1876f2c9;
}
.form2 {
    display: flex;
    flex-direction: column;
    border: solid 2px lightgray;
    width: 20em;
    padding: 1em;
    height: 15em;
    align-items: center;
    border-radius: 0.4em;
    background-color: #fffffff3;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);;
}
.form2 > input {
    border: 1px solid #dddfe2;
    width: 100%;
    padding: 0.8em;
    margin: 0.6em;
    color: #1d2129;

}

.form2 > button {
    margin: 0.6em;
    color:#fff;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 99%;
    cursor: pointer;
}
.form2 button:hover,button:focus {
    background-color: #1876f2c9;
}
